/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* Disable uart1 in nonsecure since it is used by the TFM secure app. */
&uart1 {
	status = "disabled";
};

/{

	hx711 {
		compatible = "avia,hx711";
		status = "okay";
		label = "HX711";
		dout-gpios = <&gpio0 03 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP) >;  /* P0.03 */
		sck-gpios = <&gpio0 02 GPIO_ACTIVE_HIGH>;                     /* P0.02 */
	};
};

/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 20)>;
		zephyr,input-positive = <NRF_SAADC_AIN7>; /* P0.20 */
		zephyr,resolution = <10>;
	};
};


/{
    GPIO_ADC_SWITCH {
        compatible = "gpio-keys";
        adcswitch: adc_switch {
            gpios = <&gpio0 21 GPIO_ACTIVE_LOW >;   /*GPIO PIN P0.21 */
            label = "Custom gpio pin";
        };
		errordetectionled: Error_detection {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW >;
            label = "Custom gpio pin2";
        };

    };
    aliases {
        adcswitch = &adcswitch;
        errordetectionled = &errordetectionled;
    };
}; 

